:root {
    --branco-principal: #ffff;
    --cinza-secundario:#C0C0C0;
    --botao-azul: #167Bf7;
    --cor-de-fundo: #00030C;
    --font-principal: 'inter';
    --font-secundaria: 
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("/img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    margin-top: 3em;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__segundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao_titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
    font-weight: 400;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding-right: 1em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.lista__link {
    display: flex; 
    margin: 1em 0;
    justify-content: space-around;
}

.lista__link__link {
    list-style-type: none;
}

.lista__link__item {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 16px;
}

.rodape__texto1{
    margin-bottom: 1em;
    color: var(--cinza-secundario);
}

.rodape__texto2 {
    margin-bottom: 3em;
    color: var(--cinza-secundario);
}